table {
    width: 100%;
    border-collapse: collapse;
  }

  thead th {
    text-align: left;
    border-bottom: 2px solid black;
  }
  thead button {
    border: 0;
    border-radius: none;
    font-family: inherit;
    font-weight: 700;
    font-size: inherit;
    padding: 0.5em;
    margin-bottom: 1px;
  }
  thead button.ascending::after {
    content: "↑";
    display: inline-block;
    margin-left: 1em;
  }
  
  thead button.descending::after {
    content: "↓";
    display: inline-block;
    margin-left: 1em;
  }


.tableSize {
    margin-top: 10px;
    max-height:300px;
    overflow-y:scroll;
    border-top:1px solid #dedede;
    border-bottom:1px solid #dedede;
}
.tableView {
    border-collapse:collapse;
    width:100%;
    position: relative;
    /* text-align: center; */
    color: black;
} 
.testth {
    position:relative;
    width:1000px;
    margin:20px auto;
    padding-top:43px;
} 
.testtr {
    max-height:210px;
    overflow-y:scroll;
    border-bottom:1px solid #dedede;
}
